@inherits LayoutComponentBase

<div class="main">
    
    <h1 class="title">@Resources.General.Title</h1>

    <h4 class="message">
        @Resources.General.Subtitle
    </h4>

    <div class="content">
        @Body
    </div>
</div>

<div class="footer"><a href="https://www.CodeChops.nl" target="_blank">@Resources.General.Copyright</a></div>